
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* Single Div css*/

.singlediv{
    margin: auto;
    padding: 35% 20px 0px 20px ;
    border: 1px solid black;
    height: 335px;
    margin-top: 30px;
    /* background-image: url('https://images-static.nykaa.com/uploads/4103ae09-66db-490e-a549-abaafa0fa050.jpg?tr=w-600,cm-pad_resize'); */
}
.singlediv >div{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 50px;
    margin-bottom: 0px;
    color: black;
}
/* Single Div css*/

.slidediv{
    width: 100%;
    margin: auto;
}
.slidediv  img{
    width: 100%;
}
.slidediv button{
    margin: auto;
    height: 40px;
    width: 40px;
    background-color: black;
}

.navbar {
    width: 100%;
    z-index: 100;
    position: fixed;
    /* margin: auto; */
    background-color: white;
    display: flex;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ulist{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 0px;
    text-decoration: none;
}
.ulist > li{
    margin-right: 25px;
    color: black;
    font-weight: bolder;
    line-height: 20px;
    
}
.search_icon{
    background-color: #f4f4f4;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 7px;
}
.search_icon > img{
    width: 8%;
}
.search_icon>input{
    height: 30px;
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    background-color: #f4f4f4;
   
}
.user {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user >div{
    margin-right: 30px;
}

.user>img{
    width: 100%;
    height: 20%;
    
}